<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista</title>
    <link rel="stylesheet" type="text/css ?" href="">
</head>
<body>
    <h1>Cantantes</h1>
    <ul>
        {% for cantantes in tracks %}
        <li>({{cantantes["Name"] }} )</li>
        {% endfor %}
    </ul>
    <ul>
        {% for genero in genres %}
        <li>({{genero["Name"] }})</li>
        {% endfor %}
    </ul>
    <ul>
        {% for album in Albumld %}
        <li>({{album["Title"] }} )</li>
        {% endfor %}
    </ul>
</body>
</html>